@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1> Movies</h1>


    


<div id="container">
    <div id="resuls">
        @foreach (Movie m in Model.Movies)
        {
            <div class="movie-entry">
                <h4>@m.Title</h4>
                <ul>
                    <li>Genre: @m.Major_Genre</li>
                    <li>MPAA Rating: @m.MPAA_Rating</li>
                    @if (m.Rotten_Tomatoes_Rating != null)
                    {
                        <li>Rotten Tomatoes: @m.Rotten_Tomatoes_Rating.</li>
                    }
                    @if (m.IMDB_Rating != null)
                    {
                        <li> IMDB Rating: @m.IMDB_Rating</li>
                    }

                </ul>
            </div>

        }
    </div>
    <div id="filter">
        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" value="search" />

            <h2> MPAA Rating</h2>
            <label>
                <input type="checkbox" name="ratings" value="G" checked="@Model.ratings.Contains("G")" />
                Rated G
            </label>
            <label>
                <input type="checkbox" name="ratings" value="PG" checked="@Model.ratings.Contains("PG")"/>
                Rated PG
            </label>
            <label>
                <input type="checkbox" name="ratings" value="PG-13" checked="@Model.ratings.Contains("PG-13")"/>
                Rated PG-13
            </label>
            <label>
                <input type="checkbox" name="ratings" value="R" checked="@Model.ratings.Contains("R")"/>
                Rated R
            </label>
            <label>
                <input type="checkbox" name="ratings" value="NC-17" checked="@Model.ratings.Contains("NC-17")"/>
                Rated NC-17
            </label>


            <h4> Review Scores</h4>

            <label>
                Minimum IMDB Rating: 
                <input type="number" min="0" max="10" step="0.1" name="minIMDB" value="@Model.minIMDB"/>
            </label>
            <label>
                Maximum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="maxIMDB" value="@Model.maxIMDB"/>
            </label>

        </form>
    </div>
    
</div>

